@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

body{
    font-family: "Lexend", serif;
    font-weight: 400;
    
}
header{
    display: flex;
    padding: 12px;
    position: absolute;
    width: 100%;
}
header figure{
    width: 15%;
}
header figure img{
    width: 100%;
}
header nav ul {

}

header nav ul li {
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    position: relative;
    z-index: 1;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #fad805;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}


.intro {
    display: flex;
    font-family: "Lexend", serif;
    font-weight: 700;
    font-style: normal;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    height: 90vh;
}

.intro h1{
    text-align: center;
    font-size: 30px;

}
.geoFigureContainer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
}


.triangle-left {
    width: 0;
    transform: rotate(50deg);
    right: 100px;
    /* position: absolute; */
    height: 0;
    border-top: 40px solid transparent;
    border-right: 60px solid #e52122;
    border-bottom: 40px solid transparent;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 33px 50px 33px;
    border-color: transparent transparent #e52122 transparent;
    transform: rotate(0deg);
 }

.circle {
    height: 50px;
    width: 50px;
    /* position: absolute; */
    background-color: #fad805;
    border-radius: 50%;
    right: 46%;
    top: 45px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #0f4cb0;
    /* transform: rotate(80deg); */
    /* position: absolute; */
    bottom: 5px;
    right: 30%;
}




/* Media Queries */
@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 640px) and (orientation: landscape) {

}
