@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;

}

header {
    position: absolute;
    width: 100%;
}

header .hContainer {
    padding: 12px;

}

header figure {
    width: 15%;
}

header figure img {
    width: 100%;
}

header nav ul {}

header nav ul li {
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    position: relative;
    z-index: 1;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #fad805;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}


.hero {
    display: flex;
    font-family: "Lexend", serif;
    font-weight: 700;
    font-style: normal;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    height: 100vh;
}

.hero h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Lexend", serif;

}

h2 {
    font-size: 25px;
    font-family: "Lexend", serif;
}

.geoFigureContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
}


/* .triangle-left {
    width: 0;
    transform: rotate(50deg);
    right: 100px;
     position: absolute;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 60px solid #e52122;
    border-bottom: 40px solid transparent;
} */

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 33px 50px 33px;
    border-color: transparent transparent #e52122 transparent;
    transform: rotate(0deg);
}

.circle {
    height: 50px;
    width: 50px;
    /* position: absolute; */
    background-color: #fad805;
    border-radius: 50%;
    right: 46%;
    top: 45px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #0f4cb0;
    /* transform: rotate(80deg); */
    /* position: absolute; */
    bottom: 5px;
    right: 30%;
}

.introduction {
    background-color: #0f4cb0;
    padding-top: 8em;
    color: white;
    text-align: center;
    padding: 8em 1em 12em;
    line-height: 1.2;
}

.introduction h2 {
    padding: 24px;
}

.skills {
    margin-top: -8em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

.skills>div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    padding: 2em 0;
    gap: 12px;
}

.skills .designBox {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.circleBg {
    width: 50px;
    height: 50px;
    background: #e52122;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.circleBg .innerCircle {
    width: 70%;
    display: flex;
}


.contact,
.projects {
    padding: 3em 1em;
    margin: auto;

}

.cards {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    /* border: solid 1px lightgrey; */
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
}

.card figure {
    width: 100%;
    margin: 0;
    max-height: 150px;
    overflow: hidden;
}

.card article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact h2,
.projects h2 {
    margin-bottom: 12px;
}

.contact h2::before,
.projects h2::before {
    content: "";
    width: 4rem;
    height: 5px;
    display: block;
    background: #fad805;
    margin-bottom: 5px;
}

/* Media Queries */

@media (min-width: 425px) {
    .cards {
        gap: 1em 0;
        justify-content: space-between;
    }

    .card {
        width: 48%;
    }

}

@media (min-width: 640px) {
    header figure {
        width: 10%;
    }

    .triangle {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 52.8px 80px 52.8px;
        border-color: transparent transparent #e52122 transparent;
        transform: rotate(0deg);
    }

    .circle {
        height: 80px;
        width: 80px;
        /* position: absolute; */
        background-color: #fad805;
        border-radius: 50%;
        right: 46%;
        top: 45px;
    }

    .square {
        height: 80px;
        width: 80px;
        background-color: #0f4cb0;
        /* transform: rotate(80deg); */
        /* position: absolute; */
        bottom: 5px;
        right: 30%;
    }

    .skills {
        flex-direction: row;
        gap: 24px;
        text-align: center;
    }

    .skills .codeBox {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

}

@media (min-width: 768px) {
    .introduction article {
        padding: 0 6em;
    }

    .card {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    header figure {
        width: 5em;
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 38px;
    }

    .heroLine {
        width: 60%;
    }

    .geoFigureContainer {
        position: relative;
        width: 35%;
        height: 80%;
    }

    .square {
        height: 150px;
        width: 150px;
        transform: rotate(80deg);
        position: absolute;
        bottom: 25%;
        right: 0%;
    }

    .circle {
        height: 150px;
        width: 150px;
        position: absolute;
        left: 0px;
        top: 25%;
    }

    .triangle {
        border-width: 0 99px 150px 99px;
        transform: rotate(215deg);
        position: absolute;
        top: 60px;
        left: 40%;
    }

    .skills {
        justify-content: center;
    }

    .skills>div {
        width: 40%;
    }

    .introduction article {
        padding: 0 14em;
    }

    .cards {
        justify-content: start;
        gap: 1em;
    }

    .card {
        width: 24%;
    }
}

@media (min-width: 1440px) {
    .introduction article {
        padding: 0 26em;
    }

    .heroLine {
        width: 40%;
        padding: 4em;
    }

    .hero h1 {
        font-size: 40px;
    }

    .geoFigureContainer {
        width: 40%;
        height: 60%;
    }
    .square {
        height: 150px;
        width: 150px;
        transform: rotate(16deg);
        position: absolute;
        bottom: 30%;
        right: 8%;
    }

    .circle {
        height: 150px;
        width: 150px;
        position: absolute;
        left: 0px;
        top: 25%;
    }

    .triangle {
        border-width: 0 99px 150px 99px;
        transform: rotate(195deg);
        position: absolute;
        top: 20px;
        left: 25%;
    }


}

/* 1440 */
@media (min-width: 640px) and (orientation: landscape) {}